/* src/index.css or src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Baskervville SC';
  src: url('./fonts/BaskervvilleSC-Regular.woff2') format('woff2'),
      url('./fonts/BaskervvilleSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

